@model CompanyRegistration

<div class="form-group text-center">
    @using (Ajax.BeginForm("RegisterComapany", "Registration", null, new AjaxOptions()
    {
        OnFailure = "loginSiteManager.existingUserMessage",
        OnSuccess = "loginSiteManager.redirectToUrl"
    }))
    {
        @Html.AntiForgeryToken()
        <div id="company-acc-creation-wrapper">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", placeholder = "Company name..." })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.DropDownListFor(x => x.CountryId,
                            new SelectList(Model.Countries.Select(x => new { Value = x.CountryId, Text = x.CountryName }), "Value", "Text"),
                                            "Select a country...", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.DropDownListFor(x => x.SectorId,
                            new SelectList(Model.Sectors.Select(x => new { Value = x.Id, Text = x.Name}), "Value", "Text"),
                            "Select a sector...", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email..." })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password..." })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password..." })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-danger col-lg-12 form-control" value="Create account" />
                </div>
            </div>
        </div>
    }
</div>