@model BasicUserInfo

@if (Model.ProfileImage != null)
{
    <div id="basicUserInfo-image" class="img-responsive img-rounded">
        @{
            string imageBase64 = Convert.ToBase64String(Model.ProfileImage);
            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
        }
        <img src="@imageSrc" class="img-responsive img-rounded"/>
    </div>
}
else
{

    <div id="basicUserInfo-upload-picture-wrapper">

    </div>
    <div id="basicUserInfo-image">
        <img src="~/Content/Images/profile-image.png" />
    </div>
}
@using (Html.BeginForm("UploadPicture", "FileUpload", FormMethod.Post,
                                                            new { enctype = "multipart/form-data", id = "upload" }))
{
    <input type="file" name="uploadedPicture" id="file" class="filestyle col-lg-12" />
}

<div id="basicUserInfo-name">
    <i class="basicUserInfo-align glyphicon glyphicon-user"></i>
    <h2 class="text-info basicUserInfo-margin-left">@(Model.FirstName + " " + Model.LastName)</h2>
</div>
<div id="businessInfo-email">
    <i class="basicUserInfo-align glyphicon glyphicon-envelope"></i>
    <h4 class="text-info basicUserInfo-margin-left"><a href="#">@Model.Email</a></h4>
</div>
<div id="basicUserInfo-country">
    <i class="basicUserInfo-align glyphicon glyphicon-home"></i>
    <h4 class="text-muted basicUserInfo-margin-left">Bulgaria</h4> @*TODO: Show country populated from registration.*@
</div>
<div>
    <i class="basicUserInfo-align glyphicon glyphicon-heart-empty"></i>
    <h4 class="text-muted basicUserInfo-margin-left">@Utils.Gender.Male</h4>
</div>
<div id="basicUserInfo-joined-on">
    <i class="basicUserInfo-align glyphicon glyphicon-time"></i>
    <h5 class="text-muted basicUserInfo-margin-left">Joined on @Model.DateOfCreation</h5>
</div>
