<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect</title>
        @Styles.Render("~/Content/css")
        <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/External/sweetalert-dev.js"></script>
        <script src="~/Scripts/LoginSite/loginSiteManager.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top col-lg-12">
        <div class="container">
            <div id="custom-login-navigation" class="navbar-header">
                    <div id="dot" class="text-primary"></div>
                    <h3 id="connect-text" class="text-muted">Connect</h3>
            </div>
            <a href="#" id="company-form-choose" class="btn btn-danger pull-right col-lg-1" data-toggle="modal" data-target="#create-acc-login-modal">Company</a>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>